body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 100px;
    /* background-color: #ccc; */
}

.eye-ball {
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    transition: .3s all ease-in-out;
    transition-delay: .1s;
}

svg:hover .eye-ball {
    stroke-dashoffset: 100;
    transition-delay: 0;
}

.eye-top {
    transition: .3s all ease-in-out;
}

svg:hover .eye-top {
    d: path("M10,50 Q50,90 90,50");
    transition-delay: .2s;
}

input[type="text"],
input[type="password"] {
    height: 50px;
    width: 400px;
    outline: none;
    padding: 0 10px;
    border: 10px solid #184098;
    border-radius: 6px;
    margin-right: 20px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #184098;
}